@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
}

.navbar-brand img{
    height: 80px;
}
.nav-item{
    background-color: #f8edeb;
}
#pading1{
    padding: 20px;
}
#pading2{
    padding: 20px;
}
#pading3{
    padding: 20px;
}
#pading4{
    padding: 20px;
}

.bg-color{
    background-color:white;
}
.carousel-inner{
    width: 100%;
    height: 650px;
}
.carousel-inner img{
    width: 95%;
    height: 100%;
}
.carousel-indicators{
    background-color: #f8edeb;
}
#pBarraCarousel{
    position: relative;
}
.nuevosProductos{
    height: 500px;
    background-color: #f8edeb;
}
.nuevoProducto{
    background-position: center;
}
.nuevoProducto img{
    width: 350px;
    height: 500px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.tituloNewIn{
    text-align: center;
}
.newIn {
    font-size: 70px;
    font-family: 'Lora', serif;
    color: black;
    font-style: italic;
    padding-top: 180px;
    padding-left: 100px;
}
.tituloNewIn a{
    text-decoration: none;
    color: black;
}
.nuevoProducto:hover {
    transform: scale(1.2);
    transition: all 0.5s;
}
.tituloMiniColeccion{
    text-align: center;
    font-style: italic;
    font-size: 40px;
    margin-top: 30px;
    background-color:#d1b3c4;
    color: white;
    margin-left: 400px;
    margin-right: 400px;
}

.miniColeccion{
    height: 570px;
}
.coleccion img{
    width: 350px;
    height: 550px;
    padding-top: 25px;
}
.verMas {
    width: 100%;
    text-align: center;
}

.botonVerMas {
    text-decoration: none;
    font-size: 18px;
    border: 2px solid white;
    background-color: #f8edeb;
    color: black;
    font-style: italic;
}
.botonVerMas:hover{
    text-decoration: none;
    color: black;
}
.redesSociales {
    width: 100%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    margin-top: 50px;
    margin-bottom: 50px;
}

.redesSociales a {
    text-decoration: none;
}

.instagramHome span {
    background-color: #eddcd2;
    font-size: 30px;
    color: white;
}

.instagramSeguinos {
    font-size: 20px;
    font-family: 'Lora', serif;
}
footer {
    grid-area: footer;
    width: 100%;
    height: 180px;
    background-color: #f8edeb;
    display: grid;
    grid-template-areas:
        "NavFooter NavFooter"
        "Datos Datos"
        "copyRight copyRight";
}

.navFooter {
    width: 100%;
    height: 1.5%;
    text-align: center;
    grid-area: NavFooter;
}

.navFooter a {
    text-decoration: none;
    font-size: 11px;
    color: black;
}

.navFooter li {
    display: inline-block;
    width: 8%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.datosFooter {
    grid-area: Datos;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.datosFooter h2 {
    font-size: 13px;
}

.contactanos {
    margin-right: 60px;
}

.datosContactanos {
    background-color: white;
    text-align: center;
    font-size: 10px;
    height: 80px;
}

.copyRight {
    margin-bottom: 2px;
    margin-top: 10px;
    font-size: 11px;
    margin-left: 8px;
    grid-area: copyRight;
}
/* css PRODUCTOS */

.tituloSeccion{
    font-size: 25px;
    text-align: center;
    font-family:'Petit Formal Script', cursiva;
    font-style: italic;
    background-color: #f8edeb;
    padding-top: 0px;
    padding-right: 68px;
    margin-left: 400px;
    margin-right: 400px;
  
}
.igProd a{
    text-decoration: none;
}

.instagramProductos{
    grid-area: instagram;
    font-size: 20px;
    text-align: right;
    padding-right: 8px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: #e8c2ca;

}
/* css CONTACTO */
.formularioContacto{
    margin-left: 5px;
    margin-right: 5px;
}
div textarea{
    height: 150px;
    width: 100%;
}
.enviar{
    text-align: center;
    margin-bottom: 10px;
}
.botonEnviar{
    background-color:#e8c2ca;
    border: #d1b3c4 2px solid;
}